<form action="/create_like_from_dish" method="post">

  <input type="hidden" name="dish_id" value="<%= @dish.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name, @like.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @like.venue_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
